#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  padding-bottom: 10%;
}

.intro-title {
  font-size: 65px;
  font-weight: bold;
  font-family: "Figtree", sans-serif;
  color: #ccd6f6;
}

.intro-subtitle {
  font-size: 30px;
  font-weight: 100;
  color: #a8b2d1;
  font-family: "Figtree", sans-serif;
  padding-bottom: 5%;
}

.name {
  color: #7ef5bb;
}

footer {
  padding-top: 10%;
  text-align: center;
}

#scroll-arrow {
  padding-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: auto;
}

#profile-picture {
  width: 18%;
  height: auto;
  margin-left: 16%;
  top: 160px;
  position: absolute;
  border-radius: 15%;
}
