.card-container {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.75rem;
    background-color: #112240;
    border-radius: 16px;
    will-change: transform;
    transition: transform 450ms;
    height: 80%;
}

.card-container:hover {
    transition: transform 125ms;
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.card-title {
    padding-right: 50%;
    font-size: 25px;
    color: #ccd6f6;
}

.card-description {
    font-size: 18px;
    color: #a8b2d1;
    padding-top: 10%;
    text-align: left;
    padding-right: 10%;
}

.card-tech {
    font-size: 15px;
    color: #a8b2d1;
    padding-top: 10%;
}

#github-icon {
    width: 9%;
    height: auto;
    display: inline;
    margin-left: 75%;
    margin-right: 10%;
    position: fixed;
}
